p In order to start with paths here, we will use segments that do not define handles for now and therefore are connected by lines instead of curves.
Lets create a new path item by using the new Path() constructor and added segments to it using the path.add(segment) function: