#include <stdio.h>
#include <stdlib.h>


int suma(int a, int b)
{
	{#load1 blockid=id.func_suma /}


}


int resta(int a, int b)
{

	{?algo }
		{#load1 blockid="503359125c0192780c000004" /}
	{:else}
		no hay nada!
	{/algo}
	
}
int main()
{
	int a=10,b=5;
	
	printf("Suma: %d\n",suma(a,b));
	print("Resta: %d\n",resta(a,b));
	
	return 0;


}
