title = title
#content
- if (passwordSent) 
  p Contraseña enviada. Comprueba tu bandeja de entrada! 
- else if (password) 
  p Tu contraseña actual es '#{password}'! 
  p Inicia sesión y cambiala en cualquier momento.
- else 
  - if (error) 
    p Se ha producido un error! 
    -if (error == 'AlreadyReset')
      p Ya has reseteado la contraseña. Comprueba tu bandeja de entrada.
    -if (error == 'AccountNotFound')
      p Paso algo estraño resetando la contraseña. Prueba otra vez.
    -if (error == 'NoEmailGiven')
      p No se ha introducido ninguna direección de correo.
    -if (error == 'CouldNotFindUser' || error == 'noUserIdOrVerify')
      p Paso algo estraño resetando la contraseña. Prueba otra vez.
  form(method='POST', action='/forgot-password')
    p
      label(for="email") Dirección de correo:
      input(name='email', id='email')
    p
      input(type='submit', value='reset-password', id='submit')